.btn-edit {
    width: 100%;
    padding: 4px;
    background-color: #4A90E2;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #357ABD; /* Slightly darker than #4A90E2 */
    color: white;
    transform: translateY(-2px);
}

.btn-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--playful-green);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #26A575;
    color: white;
    transform: translateY(-2px);
}

.btn-reset {
    width: 100%;
    padding: 12px;
    background-color: var(--vibrant-orange);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-reset:hover {
    background-color: #E85D38;
    color: white;
    transform: translateY(-2px);
}

.btn-cancel {
    width: 100%;
    padding: 12px;
    background-color: var(--vibrant-orange);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-cancel:hover {
    background-color: #E85D38;
    color: white;
    transform: translateY(-2px);
}

.btn-add {
    padding: 8px 16px;
    background-color: var(--playful-green);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-add:hover {
    background-color: #26A575; /* Darker shade of #2EBD87 */
    color: white;
    transform: translateY(-2px);
}

.btn-delete {
    width: 100%;
    padding: 4px;
    background-color: #FF6B6B;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #D6303B; /* Slightly darker than #FF6B6B */
    color: white;
    transform: translateY(-2px);
}

.btn-clear {
    background-color: var(--sunny-yellow);
    border-color: var(--sunny-yellow);
    color: var(--rich-brown);
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.btn-clear:hover {
    background-color: #F4C430;
    border-color: #F4C430;
    transform: translateY(-2px);
}

.btn-view-active {
    border-color: black !important;
    background-color: var(--vibrant-orange) !important;
    color: white !important;
}

.btn-view-active:hover {
    background-color: #E85D38 !important; /* Slightly darker orange */
    color: white !important;
}

.btn-view-inactive {
    border-color: black !important;
    background-color: transparent !important;
    color: var(--vibrant-orange) !important;
}

.btn-view-inactive:hover {
    background-color: rgba(0, 0, 0, 0.1) !important; /* Slightly darken the background */
    color: var(--vibrant-orange) !important; /* Keep text color the same */
}

.location-tab {
  display: flex;
  align-items: center;
  margin-left: 6px;
  position: relative;
}

.delete-btn {
  margin-left: 4px;
  opacity: 0; /* hidden by default */
  transition: opacity 0.2s;
}

.location-tab:hover .delete-btn {
  opacity: 1; /* show on hover */
}

.dish-btn-primary {
  background-color: var(--vibrant-orange);
  border: var(--vibrant-orange);
  color: white;
}

.dish-btn-primary:hover {
  background-color: #E85D38;
  color: white;
}

.dish-btn-secondary {
  background-color: transparent;
  color: var(--vibrant-orange);
  border: var(--vibrant-orange) solid 1px;
}

.dish-btn-secondary:hover {
  background-color: var(--vibrant-orange);
  color: white;
}
